@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?g94hnw');
  src:  url('fonts/sell-icon.eot?g94hnw#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?g94hnw') format('truetype'),
    url('fonts/sell-icon.woff?g94hnw') format('woff'),
    url('fonts/sell-icon.svg?g94hnw#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cnodejs .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-cnodejs .path2:before {
  content: "\e901";
  margin-left: -4.255859375em;
  color: rgb(255, 255, 255);
}
.icon-cnodejs .path3:before {
  content: "\e902";
  margin-left: -4.255859375em;
  color: rgb(255, 255, 255);
}
.icon-cnodejs .path4:before {
  content: "\e903";
  margin-left: -4.255859375em;
  color: rgb(128, 189, 1);
}
.icon-cnodejs .path5:before {
  content: "\e904";
  margin-left: -4.255859375em;
  color: rgb(128, 189, 1);
}
.icon-cnodejs .path6:before {
  content: "\e905";
  margin-left: -4.255859375em;
  color: rgb(128, 189, 1);
}
.icon-cnodejs .path7:before {
  content: "\e906";
  margin-left: -4.255859375em;
  color: rgb(128, 189, 1);
}
.icon-cnodejs .path8:before {
  content: "\e907";
  margin-left: -4.255859375em;
  color: rgb(255, 255, 255);
}
